{% extends "layout.html" %} {% block content %}

<div class="all-vitamins">
    <div class="page-header">
        <h2>Vitamins</h2>
    </div>

    <div class="container">
        {% if all_vitamins.count() == 0 %}
        <h5>No vitamins have been created!</h5>
        {% else %}
        <ul class="media-list">
            {% for vitamin in all_vitamins %}
            <li class="media">
                <div class="media-left">
                    <a class="media-left" href="{{ url_for('vitamins.vitamin_details', vitamin_id=vitamin.id) }}">
                        <img class="media-object" src="{{getYoutubeThumbnailUrl(vitamin.link)}}" style="width:64;height:64px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{{ url_for('vitamins.vitamin_details',vitamin_id=vitamin.id) }}">{{ vitamin.name }}</a>
                        <span class="label label-info" style="font-size:10px;">{{vitamin.target_area}}</span>
                        {% if vitamin.mobility %}
                            <span class="label label-success" style="font-size:10px;">Mobility</span>
                        {% endif %}
                        {% if vitamin.stability %}
                            <span class="label label-warning" style="font-size:10px;">Stability</span>
                        {% endif %}

                    </h4>
                    {{ vitamin.description }}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}