{% extends "layout.html" %} {% block content %}

<div class="user-profile">
    <div class="container">
        <div class="jumbotron">
            <h1>Movement Vitamins</h1>
            <p>The one stop shop to move better!</p>
        </div>

        {% if public_vitamins.count() > 0 %}
        <h3>Vitamins</h3>
        <div class="row">
            {% for vitamin in public_vitamins %}
            <div class="col-xs-6 col-md-3">
                <tr>
                    <td>{{ vitamin.name }}</td>
                    <a href="{{ url_for('vitamins.vitamin_details', vitamin_id=vitamin.id) }}" class="thumbnail">
                            <img class="media-object" src="{{getYoutubeThumbnailUrl(vitamin.link)}}" style="width:64;height:64px;">
                    </a>
                </tr>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
    <!-- /container -->
</div>

{% endblock %}