{% extends "layout.html" %} {% from "_form_macros.html" import render_errors %} {% block content %}

<div class="edit-screening">
    <div class="page-header">
        <h2>New Screening</h2>
    </div>

    <div class="container">
        <form action="{{ url_for('users.new_screening') }}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}


            <div class="form-group row">
                <legend for="shoulder_rotation" class="col-form-legend col-sm-2">Title</legend>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="shoulder_rotation" name="shoulder_rotation" value=""> {{ render_errors(form.shoulder_rotation) }}
                </div>
            </div>

            <div class="form-group row">
                <legend for="shoulder_flexion" class="col-form-legend col-sm-2">Description</legend>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="shoulder_flexion" name="shoulder_flexion" value=""> {{ render_errors(form.shoulder_flexion) }}
                </div>
            </div>


            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit Screening</button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}