{% extends "layout.html" %} {% from "_form_macros.html" import render_errors %} {% block content %}

<div class="edit-screening">
    <div class="page-header">
        <h2>New Screening</h2>
    </div>

    <div class="container">
        <form action="{{ url_for('users.new_screening') }}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}


            <div class="form-group row">
                <legend for="shoulder_flexion" class="col-form-legend col-sm-2">Shoulder Flexion</legend>
                <div class="col-sm-6">
                    {{ form.shoulder_flexion}} {{ render_errors(form.shoulder_flexion) }}
                </div>
            </div>

            <div class="form-group row">
                <legend for="shoulder_rotation" class="col-form-legend col-sm-2">Shoulder Rotation</legend>
                <div class="col-sm-6">
                    {{ form.shoulder_rotation}} {{ render_errors(form.shoulder_rotation) }}
                </div>
            </div>

            <div class="form-group row">
                <legend for="ankle_mobility" class="col-form-legend col-sm-2">Ankle Mobility</legend>
                <div class="col-sm-6">
                    {{ form.ankle_mobility }} {{ render_errors(form.ankle_mobility) }}
                </div>
            </div>

            <div class="form-group row">
                <legend for="supine_squat" class="col-form-legend col-sm-2">Supine Squat</legend>
                <div class="col-sm-6">
                    {{ form.supine_squat }} {{ render_errors(form.supine_squat) }}
                </div>
            </div>

            <div class="form-group row">
                <legend for="leg_raise" class="col-form-legend col-sm-2">Active Straight Leg Raise</legend>
                <div class="col-sm-6">
                    {{ form.leg_raise }} {{ render_errors(form.leg_raise) }}
                </div>
            </div>

            <div class="form-group row">
                <legend for="overhead_squat" class="col-form-legend col-sm-2">Overhead Squat</legend>
                <div class="col-sm-6">
                    {{ form.overhead_squat }} {{ render_errors(form.overhead_squat) }}
                </div>
            </div>

            <div class="form-group row">
                <legend for="arms_extended_squat" class="col-form-legend col-sm-2">Arms Extended Squat</legend>
                <div class="col-sm-6">
                    {{ form.arms_extended_squat }} {{ render_errors(form.arms_extended_squat) }}
                </div>
            </div>


            <div class="form-group row">
                <legend for="foot_collapse" class="col-form-legend col-sm-2">Foot Collapse</legend>
                <div class="col-sm-6">
                    {{ form.foot_collapse }} {{ render_errors(form.foot_collapse) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit Screening</button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}