{% extends "layout.html" %} {% block content %}

<div class="user-profile">
    <div class="page-header">
        <h2>
            {{ vitamin.name }}
        </h2>
        <span class="label label-info" style="font-size:10px;">{{vitamin.target_area}}</span>
        {% if vitamin.mobility %}
            <span class="label label-success" style="font-size:10px;">Mobility</span>
        {% endif %}
        {% if vitamin.stability %}
            <span class="label label-warning" style="font-size:10px;">Stability</span>
        {% endif %}

    </div>


    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Vitamin Details</div>
                <div class="panel-body"><b>Description:</b> {{ vitamin.description }}</div>
                <div class="panel-body"><b>Target Area:</b> {{ vitamin.target_area }}</div>
                {% if vitamin.mobility %}
                <div class="panel-body"><b>Mobility Vitamin</b></div>
                {% else %}
                <div class="panel-body"><b>Stability Vitamin</b></div>
                {% endif %}
            </div>
        </div>

        <div class="col-xs-6 col-md-8">
            {% if vitamin.link %}
            <iframe class="center-block img-responsive" src="{{ vitamin.link }}" style="width:600px;height:450px;margin-bottom:10px"> 
                </iframe> {% endif %}
        </div>
    </div>
</div>` {% endblock %}